body{
  height:100vh;
  background-image: url("image/picc1.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#bounce{
  position: absolute;
  width:150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  top:15vh;
  right:35vh;
}


@media only screen and ( max-width: 1200px )
{body{
  background-image: url("image/picc2.gif");
  background-position: center;
  background-attachment: fixed;
}

#bounce{
  position: absolute;
  width:150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  top:2vh;
  right:57vh;
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
}

@keyframes bounce {
	0% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 170px;
		height: 170px;
		-webkit-animation-timing-function: ease-out;
	}
	55% {top: 170px; height: 140px;
		-webkit-animation-timing-function: ease-in;}
	65% {top: 140px; height: 160px;
		-webkit-animation-timing-function: ease-out;}
	95% {
		top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
}


}

@media only screen and ( max-width: 1000px )
{body{
  background-image: url("image/picc3.gif");
  background-position: left;
}
#bounce{
  position: absolute;
  width:150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  top:40.8vh;
  right:38vh;
  animation: none;
}
}
